<h1>Pirate Name: <%= @pirate.name %></h1> -->
<br>
<h1>The Ships:</h1>
<br>
<% @ships.each do |ship| %>
<h2><%= @ship.name %></h2>
<h2><%= @ship.type %></h2>
<h2><%= @ship.booty %></h2>
<br>
<h2>Ship 2: Display your second ship here</h2>
<h2>Ship 2: <%= @ship.name %></h2>
<% end %>
